{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": ["^@castore(.*)/(.*)$", "^~/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
